@{
    string countAccess = "0";
    if (Context.Response.Headers.ContainsKey("CountAccess"))
        countAccess = Context.Response.Headers["CountAccess"];
}

<footer>
    <div class="container footer-panel">
        <div class="d-flex justify-content-between">
            <div class="hospital-info">
                <h3 class="title">THÔNG TIN</h3>
                <ul class="d-flex flex-column gap-2">
                    <li>
                        <span class="content">
                            <span class="icon-item">
                                <img alt="icon_footer1" src="~/img/icon/icon_footer1.png" width="15" height="20" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                            @(!string.IsNullOrEmpty(ViewData["Cfg_Address"]?.ToString()) ? ViewData["Cfg_Address"] : "182 Hùng Vương, thành phố Quảng Ngãi")
                        </span>
                    </li>
                    <li>
                        <span class="content">
                            <span class="icon-item"><img alt="icon_footer2" src="~/img/icon/icon_footer2.png" width="19" height="15" decoding="async" data-nimg="1" loading="lazy" style="color:transparent"></span>
                            @(!string.IsNullOrEmpty(ViewData["Cfg_Email"]?.ToString()) ? ViewData["Cfg_Email"] : "snn@quangngai.gov.vn")
                        </span>
                    </li>
                    <li>
                        <span class="content">
                            <span class="icon-item">
                                <img alt="icon_footer3" src="~/img/icon/icon_footer3.png" width="18" height="19" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                            @Context.Request.Host
                        </span>
                    </li>
                    <li>
                        <a class="css-18wrpjs" href="tel:0255 3712127">
                            <span class="content">
                                <span class="icon-item">
                                    <img alt="icon_footer4" src="~/img/icon/icon_footer4.png" width="15" height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                                </span>@(!string.IsNullOrEmpty(ViewData["Cfg_Phone"]?.ToString()) ? ViewData["Cfg_Phone"] : "0255 3712127")
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="d-flex report">
                    <div class="online">
                        <p class="m-0">Trực tuyến<br> @(Website.Middleware.OnlineUsersMiddleware.GetOnlineUsersCount())</p>
                    </div>
                    <div class="views-total">
                        <p class="m-0">Tổng lượt truy cập <br>@countAccess</p>
                    </div>
                </div>
            </div>
            <div class="customer-guide">
                <div>
                    <div class="center_fot">
                        <h3 class="title-fot">HỖ TRỢ</h3>
                        <div class="category">
                            <ul>

                                <li>
                                    <a rel="canonical" href="https://snn.quangngai.gov.vn/web/so-nong-nghiep-va-ptnt/lich-cong-tac" target="_blank">
                                        Lịch công tác
                                    </a>
                                </li>
                                <li>
                                    <a rel="canonical" href="https://snn.quangngai.gov.vn/web/so-nong-nghiep-va-ptnt/van-ban" target="_blank">
                                        Văn bản Sở NN
                                    </a>
                                </li>
                                <li>
                                    <a rel="canonical" href="https://snn.quangngai.gov.vn/web/so-nong-nghiep-va-ptnt/thu-tuc-hanh-chinh/" target="_blank">
                                        Thủ tục hành chính
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="category">
                            <a rel="canonical" href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/so-nong-nghiep-va-ptnt-tinh-quang-ngai-1688613346" title="Chung nhan Tin Nhiem Mang" target="_blank"><img src="https://tinnhiemmang.vn/handle_cert?id=benhvien199.vn" width="150px" height="auto" alt="Chung nhan Tin Nhiem Mang"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-fanpage">
                <div>
                    <div class="right_fot">
                        <h3 class="title-fot">FANPAGE</h3>
                        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100077192011427" data-tabs="timeline" data-width="" data-height="210" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=100077192011427" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100077192011427">Sở Nông nghiệp và PTNT Quảng Ngãi</a></blockquote></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copy-right-panel">
    <div class="container">
        <p class="copy-right">Copyright © 2020 @(!string.IsNullOrEmpty(ViewData["Cfg_CompanyName"]?.ToString()) ? ViewData["Cfg_CompanyName"] : "Sở NN & PTNT Quảng Ngãi")</p>
    </div>
</div>
