@using Contract.WebMenus;
@using Website.Models.ResponseModels;
@using Website.Utils;

@model List<WebMenuDto>

<header id="home">
    <!-- Start Navigation -->
    <nav class="navbar bootsnav navbar-default navbar-fixed dark no-background pb-1 on-desktop">
        <div class="container">

            <div class="d-flex main-panel">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <a href="/" class="navbar-brand p-0">
                        <img alt="logo" class="logo" src="/logo_nn.png" width="180" decoding="async" loading="lazy" style="color: transparent; width: auto;">
                    </a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right nav-menu gap-4" data-in="#" data-out="#">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                @if (item.ChildWebMenu != null && item.ChildWebMenu.Count() > 0)
                                {
                                    <li class="dropdown dropdown-right">
                                        <a href="#" class="dropdown-toggle smooth-menu" data-toggle="dropdown">
                                            <span class="content">@item.Name</span>
                                            @if (item.ChildWebMenu != null && item.ChildWebMenu.Count() > 0)
                                            {
                                                <svg class="icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AddIcon">
                                                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                                                </svg>
                                            }
                                        </a>
                                        @if (item.ChildWebMenu != null && item.ChildWebMenu.Count() > 0)
                                        {
                                            <ul class="dropdown-menu sub-menu">
                                                @foreach (var child in item.ChildWebMenu)
                                                {
                                                    @if (child.ChildWebMenu != null && child.ChildWebMenu.Count() > 0)
                                                    {
                                                        <li class="dropdown dropdown-right">
                                                            <a href="#" class="dropdown-toggle smooth-menu" data-toggle="dropdown"><span class="content">@child.Name</span></a>
                                                            @if (child.ChildWebMenu != null && child.ChildWebMenu.Count() > 0)
                                                            {
                                                                <div class="position-fixed menu-wrapper">
                                                                    <ul class="dropdown-menu sub-menu">
                                                                        @foreach (var child2 in child.ChildWebMenu)
                                                                        {
                                                                            <li><a rel="canonical" href="@StringUtil.GenerateMenuHref(child2)">@child2.Name</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            }
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li><a rel="canonical" href="@StringUtil.GenerateMenuHref(child)" class="smooth-menu"><span class="content">@child.Name</span></a></li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li><a rel="canonical" href="@StringUtil.GenerateMenuHref(item)" class="smooth-menu"><span class="content">@item.Name</span></a></li>
                                }
                            }
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="search-box">
                    <input placeholder="Nhập từ khóa tìm kiếm..." id="searchBox" type="text" value="">
                    <button class="search-button" onclick="openSearchBox()">
                        <img alt="search" src="~/img/icon/icon_search.svg" class="search-button" width="17" height="17" decoding="async" loading="lazy" style="color: transparent;">
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->
    <!-- Start mobile menu -->
    <nav class="navbar navbar-default navbar-fixed dark no-background bootsnav p-3 on-mobile">
        <button class="btn btn-nav" tabindex="0" type="button" onclick="openNav()">
            <svg focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="MenuIcon">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </button>
    </nav>
    <div id="mobileMenuSidenav" class="sidenav">
        <div class="rightSidenav">
            <div class="close-panel">
                <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
                @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@
            </div>
            <div class="mx-2">
                <div class="d-flex align-items-end my-3 gap-3">
                    <div class="search-input pb-2">
                        <label>Tìm kiếm tin tức</label>
                        <input type="text" placeholder="Nhập từ khóa tìm kiếm...." class="txt-seatch" id="sidenav-search-keyword" value="">
                    </div>
                    <button class="btn btn-custom btn-search mb-2" tabindex="0" type="button" onclick="search()">Tìm kiếm</button>
                </div>
                <div class="panel-group mobile-menu" role="tablist" aria-multiselectable="true">
                    @if (Model != null)
                    {
                        foreach (var item in Model.Select((v, i) => new { index = i, value = v }))
                        {
                            <div class="panel panel-default border-0 m-0">
                                <div class="panel-heading @(item.value.ChildWebMenu.Any() ? "is-submenu" : "")" role="tab" id="@("heading-" + @item.index.ToString())">
                                    <div class="panel-title">
                                        @if (item.value.ChildWebMenu.Any())
                                        {
                                            <a role="button" data-toggle="collapse" class="accordion-toggle @(item.value.ChildWebMenu.Any() ? "accordion-arrow-toggle collapsed" : "")" data-parent="" href="@("#collapse-" + @item.index.ToString())" aria-expanded="true" aria-controls="@("collapse-" + @item.index.ToString())">@item.value.Name</a>
                                        }
                                        else
                                        {
                                            <a role="button" data-parent="" href="@item.value.UrlRef">@item.value.Name</a>
                                        }

                                    </div>
                                </div>
                                <div id="@("collapse-" + @item.index.ToString())" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tin-tuc">
                                    @if (item.value.ChildWebMenu.Any())
                                    {
                                        <ul>
                                            @foreach (var child in item.value.ChildWebMenu.Select((v, i) => new { index = i, value = v }))
                                            {
                                                <li class="menu-item p-0">
                                                    <div class="panel panel-default border-0 m-0">
                                                        <div class="panel-heading @(child.value.ChildWebMenu.Any() ? "is-submenu py-1" : "")" role="tab" id="@("heading-" + @child.index.ToString() + "-" + @child.index.ToString())">
                                                            <div class="panel-title">
                                                                @if (child.value.ChildWebMenu.Any())
                                                                {
                                                                    <a rel="canonical" role="button" data-toggle="collapse" class="accordion-toggle @(child.value.ChildWebMenu.Any() ? "accordion-arrow-toggle collapsed" : "")" data-parent="" href="@("#collapse-" + @child.index.ToString() + "-" + @child.index.ToString())" aria-expanded="true" aria-controls="@("collapse-" + @child.index.ToString() + "-" + @child.index.ToString())">@child.value.Name</a>
                                                                }
                                                                else
                                                                {
                                                                    <a rel="canonical" role="button" data-parent="" href="@StringUtil.GenerateMenuHref(child.value)">@child.value.Name</a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div id="@("collapse-" + @child.index.ToString() + "-" + @child.index.ToString())" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tin-tuc">
                                                            @if (child.value.ChildWebMenu.Any())
                                                            {
                                                                <ul>
                                                                    @foreach (var child2 in child.value.ChildWebMenu)
                                                                    {
                                                                        <li class="menu-item"><a href="@StringUtil.GenerateMenuHref(child2)">@child2.Name</a></li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
               
            </div>
        </div>
    </div>
    <!-- End mobile menu -->
</header>

