@using Website.Utils;
@{
    ViewData["Title"] = "Trang chủ";
    var banners = ViewData["Banners"] as List<Contract.WebBanners.WebBannerDto>;
}

@section Headers {
    <link href="~/css/pages/shared/news-block.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pages/shared/doctor.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pages/home/homepage.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script>
        const healthInfomationIds = "@ViewData["HealthInfomationIds"]";
        const newsCategoryIds = "@ViewData["NewsCategoryIds"]";
    </script>
    <script src="~/js/pages/home/homepage.js"></script>
}

<!-- Start Banner
============================================= -->
<section class="banner-section">
    <div class="banner-items-carousel owl-carousel owl-theme text-center">
        @if (banners != null)
        {
            foreach (var item in banners)
            {
                <div class="item">
                    <div class="item-box">
                        <img alt="" sizes="100vw" src="@item.WebsiteBannerUrl" decoding="async" data-nimg="fill" class="banner imageBox" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px;">
                        <div class="item-content">
                            <div class="container item-container">
                                <div class="item-outline-content">
                                    <div class="item-inline-content">
                                        @if (!string.IsNullOrEmpty(@item.Title))
                                        {
                                            <h2 class="item-header-title">@item.Title</h2>
                                        }
                                        <h6 class="item-header-content">@item.Description</h6>
                                        <div class="d-flex justify-content-end item-inline-content-desc">
                                            <a rel="canonical" href="@StringUtil.GenerateBannerHref(item)">
                                                <div class="d-inline-flex align-items-center justify-content-center item-body-content gap-2">
                                                    <span>@item.ButtonText</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>

<!-- Chard-->
<section class="headlth-news-section">
    <div class="headlth-news-container container">
        <h3 class="section-title text-center">DỮ LIỆU CHĂN NUÔI</h3>
        <div class="row">
            <label for="date" class="col-md-2 col-form-label">Tỉnh</label>
            <div class="col-md-2">
                <select class="form-control" id="province" name="state">
                </select>
            </div>

            <label for="date" class="col-md-2 col-form-label">Huyện</label>
            <div class="col-md-2">
                <select class="form-control" id="district" name="state">
                </select>
            </div>

            <label for="date" class="col-md-2 col-form-label">Xã</label>
            <div class="col-md-2">
                <select class="form-control" id="ward" name="state">
                </select>
            </div>
        </div>


        <div class="row mt-2">
            <label for="date" class="col-md-2 col-form-label">Từ ngày thống kê</label>
            <div class="col-md-2">
                <input type="text" class="form-control datepicker" id="from-date" />
            </div>

            <label for="date" class="col-md-2 col-form-label">Đến ngày thống kê</label>
            <div class="col-md-2">
                <input type="text" class="form-control datepicker" id="to-date" />
            </div>

            <div class="col-md-4">
                <button type="button" id="btnLoc" class="btn btn-primary">Lọc</button>
            </div>
        </div>

        <div class="row">
          
            <div class="col-xs-6 col-sm-2 khung_dv_img">
                    <a href="#">
                        <div class="box_sl_dv">
                        <img src="/img/duck.png" />
                        <p id="coSoChanNuoiVit"></p>
                        </div>
                    </a>
                </div>
            <div class="col-xs-6 col-sm-2 khung_dv_img">
                    <a href="#">
                        <div class="box_sl_dv">
                        <img src="/img/chicken.png" />
                       <p id="coSoChanNuoiGa"></p>
                        </div>
                    </a>
                </div>
            <div class="col-xs-6 col-sm-2 khung_dv_img">
                    <a href="#">
                        <div class="box_sl_dv">
                        <img src="/img/buffalo.png" />
                         <p id="coSoChanNuoiTrau"></p>
                        </div>
                    </a>
                </div>
            <div class="col-xs-6 col-sm-2 khung_dv_img">
                    <a href="#">
                        <div class="box_sl_dv">
                            <img src="/img/cow.png" />
                         <p id="coSoChanNuoiBo"></p>
                    </div>
                    </a>
                </div>
            <div class="col-xs-6 col-sm-2 khung_dv_img">
                    <a href="#">
                        <div class="box_sl_dv">
                        <img src="/img/pig.png" />
                         <p id="coSoChanNuoiLon"></p>
                        </div>
                    </a>
                </div>
            </div>
        <div class="row justify-content-between news-content">

            <div class="col-md-12 spinner-border text-primary" role="status">
                <span class="visually-hidden"></span>
            </div>
 
            <div class="col-md-6 bieuDo">
                <canvas id="tongDanGiaSucChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="tongDanGiaCamChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="sanLuongThitGiaSucChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="sanLuongThitGiaCamChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="sanLuongTrungChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="sanLuongSuaChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="sanLuongSanXuatThucAnChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="sanLuongTieuThuThucAnChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="dichBenhChart"></canvas>
            </div>
            <div class="col-md-6 bieuDo">
                <canvas id="tiemPhongChart"></canvas>
            </div>
          
        </div>
    </div>
</section>
<!-- End Chard -->
<!-- News -->
<div class="news-section">
    <section class="news-section-container">
        <div class="news-background-top"></div>
        <div class="news-background-bottom"></div>
        <div class="news-box container">
            <div class="d-flex justify-content-between align-items-center news news-box-header">
                <h3 class="section-title">TIN TỨC</h3>
                <ul class="nav nav-tabs news-category" id="newCategoriesPanel"></ul>
            </div>
            <div class="tab-content">
                <div id="tabNewsContent" class="tab-pane fade in active">
                    <div class="row justify-content-between news-content">
                        <div class="col-md-6 pr-0">
                            <div class="news-card-full-item" id="newsHighlight"></div>
                        </div>
                        <div class="col-md-6 pr-0" id="newsOther"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End News -->
@* <section class="headlth-news-section">
    <div class="headlth-news-container container">
        <h3 class="section-title text-center">HỎI ĐÁP</h3>

        <div class="row justify-content-between news-content">
            <div class="col-md-12">
                <div class="d-flex justify-content-between news-card-full-item" id="healthNewsHighlightPanel"></div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="health-news-items-carousel owl-carousel owl-theme" id="healthNewsPanel"></div>
            </div>
        </div>
    </div>
</section> *@